.footer {
  &__container {
    padding-bottom: 106px;

    @media (max-width: 1130px) {
      padding-bottom: 40px;
    }
  }

  &__copyright-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
  }
}

.footer__copyright-text {
  margin: 0;
}

