.header {
  background-image: url("..//img/header-bg.png");
  object-fit: cover;
  background-size: cover;
  background-position: top center;
  height: 900px;
}

.header__container {
  padding-top: 57px;

  @media (max-width: 900px) {
    padding-top: 15px;
  }
}
